# PostgreSQL Database Configuration
POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# AWS Configuration for LocalStack (uncomment and use these for local development)
AWS_ENDPOINT_URL=http://localstack-main:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

JWT_SECRET_KEY = cLnROWmTQVIh8hjtpLolF5APSBa0QgfnLHDnGahBmHz
JWT_EXPIRATION = (7200000)
